volumes:
    caddy_data:
    caddy_config:
    postgres_data:
    mailpit_data:

services:
    api:
        image: ghcr.io/thedevs-cz/php:8.5
        restart: unless-stopped
        tty: true
        stdin_open: true
        volumes:
            - ./api:/app
            - ./api/.docker/on-startup.sh:/docker-entrypoint.d/on-startup.sh
            - caddy_data:/data
            - caddy_config:/config
        depends_on:
            - postgres
        ports:
            - "8080:80"
        environment:
            FRANKENPHP_WORKER: "1"
            FRANKENPHP_WATCH: "1"
            XDEBUG_CONFIG: "client_host=host.docker.internal"
            XDEBUG_MODE: debug
            PHP_IDE_CONFIG: "serverName=localhost"

    frontend:
        image: fantasy_academy_frontend
        build:
            context: ./frontend
            target: dev
        restart: unless-stopped
        tty: true
        stdin_open: true
        volumes:
            - ./frontend:/app
        working_dir: /app
        command: [ "sh", "-c", "pnpm install && pnpm run dev --host 0.0.0.0" ]
        environment:
            VITE_API_URL: "http://api"
            COREPACK_ENABLE_DOWNLOAD_PROMPT: 0
        depends_on:
            - api
        ports:
            - "5173:5173"

    postgres:
        image: postgres:17.0
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: fantasy_academy
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

    adminer:
        image: adminer:5.3.0
        ports:
            - "8000:8080"
        environment:
            ADMINER_DEFAULT_SERVER: postgres
        depends_on:
            - postgres

    mailer:
        image: axllent/mailpit
        ports:
            - "1025:1025"
            - "8025:8025"
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
            MP_DATABASE: "/data/mailpit.db"
        volumes:
            - mailpit_data:/data
