{% extends 'emails/base.html.twig' %}

{% block content %}
    <h3 style="margin-top:0;">Password Successfully Changed</h3>

    <p>
        Hello {{ userName|default('Manager') }},
    </p>

    <p>
        This email confirms that the password for your Fantasy Academy account has been successfully changed.
    </p>e

    <callout class="success">
        <p style="margin:0;">
            <strong>Security Confirmation:</strong> Your password was changed on {{ changedAt|date('F j, Y g:i A') }}.
            Your account is now secured with your new password.
        </p>
    </callout>

    <spacer size="12"></spacer>

    <h5>What happens next?</h5>
    <ul>
        <li>You can now log in with your new password.</li>
        <li>All other devices will be logged out for security.</li>
        <li>Consider enabling two-factor authentication for added security.</li>
    </ul>

    <spacer size="12"></spacer>

    <callout class="warning">
        <p style="margin:0;">
            <strong>Security Alert:</strong> If you did not make this change, please contact us immediately at
            <a href="mailto:security@fantasy-academy.com">security@fantasy-academy.com</a> or reset your password again.
        </p>
    </callout>

    <spacer size="8"></spacer>

    <p style="margin-bottom:0;">
        Stay secure,<br>
        <strong>The Fantasy Academy Team</strong>
    </p>
{% endblock %}
