{% extends 'base.html.twig' %}

{% block title %}Backend{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-white mb-5">Fantasy Academy backend</h1>

        <a href="#" class="btn btn-lg btn-light m-3">Admin</a>

        <a href="{{ path('api_doc') }}" class="btn btn-lg btn-light m-3">API</a>
    </div>
{% endblock %}
