{% extends 'base_admin.html.twig' %}

{% block title %}Import challenges{% endblock %}

{% block content %}
    <h1 class="h2 mb-4">Import challenges</h1>

    <div class="mb-4">
        <a href="{{ path('export_challenge_template') }}" class="btn btn-secondary">Export Challenge Template</a>
    </div>

    {{ form_start(form) }}
        {{ form_row(form.file) }}

        <button class="btn btn-primary mt-3">Import</button>
    {{ form_end(form) }}
{% endblock %}
